body.home {
    background-color: #111111;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

body.home main {
    display: flex;
    flex-direction: column;
}

body.home h1 {
    margin: 0;
}

.home :where(.hero-not,.hero-even) {
    display: flex;
    font-weight: 900;
    line-height: 1em;
}

.home .hero-not {
    font-size: 5rem;
    font-family: "Sriracha", cursive;
    text-transform: uppercase;
    transform: translateX(-19%) translateY(-27%) rotate(-20deg);
    font-weight: 600;
}

.home .hero-even {
    font-size: 10rem;
}