body.home {
    background-color: #111111;
    color: #FFFFFF;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

body.home main {
    flex: 1;
    height: 100%;
}

body.home main .home-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.home main .home-wrapper .hero-image {
    flex: 1 1 auto;

    /* Make the image stays small */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.home main .home-wrapper .hero-image img {
    max-height: 100%;
    width: auto;
}
